{% extends "junkLayout.njk" %}

{% block content %}
<main>
    <div class="information region">
        <div class="description">
            <h1> DESCRIPTION </h1>
            <p>{{piece.description}}</p>
        </div>
        <div class="piece">
            {% include "components/card.njk" %}
        </div>
        <div class="stats">
            <div class="stat_container">
                {% for stat in piece.stats%}
                    {% include "components/stat.njk" %}
                {% endfor %}
            </div>
            {% set functional = true %}
            {% include "components/starRating.njk" %}
        </div>
        
    </div>
</main>

{% endblock %}