{% extends "junkLayout.njk" %}

{% block content %}
<main>
    <div class="information region">
        <div class="description">
            <h1> DESCRIPTION </h1>
            <p>{{piece.description}}</p>
        </div>
        <div class="piece">
            {% include "components/card.njk" %}
        </div>
        <div class="stats">
            <p>none yet :P</p>
            {% set functional = true %}
            {% include "components/starRating.njk" %}
        </div>
        
    </div>
</main>

{% endblock %}