<footer class="footer">
    <div class="wrapper">
        <p>This website is made for educational purposes to learn about both frontend- and backend webdesign</p>
        <p>You can find all the project code here!!!<a href="https://github.com/RasmusEriksson/ws-junkgun">Github</a>.</p>
    </div>
</footer>