
<button class="unfilled" id="{{id}}" onclick='update_star({{id}})'>
    <p>CLICK ME! {{id}}</p>
</button>

<script>

    function update_star(ID) {
        console.log(ID)
        

        if (button.classList.contains("unfilled")){
            button.classList.replace("unfilled","filled")
        }
        else if (button.classList.contains("filled")){
            button.classList.replace("filled","unfilled")
        }

        for (let i = 1; i <= 5; i++) {
            var button = document.getElementById(String(i))
            
            console.log(i)
        }
    }
</script>