<button type="button" class="star unfilled" id="{{id}}" onclick='update_star({{id}})'>
    <img src="/images/icons/star.png" alt="star" class="full">
    <img src="/images/icons/star_empty.png" alt="star_empty" class="empty">
</button>
