.information {
    margin-inline: auto;
    width: min(100%, var(--container-max, 80ch));

    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    background-color: gray;
}

.description {
    width: min(100%, var(--container-max, 60ch));
}

.piece {
    display: flex;
    align-content: center;
    justify-content: center;
    width: min(50%, var(--container-max, 20ch));
    aspect-ratio: 1;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.stats {
    width: min(100%, var(--container-max, 60ch));
}


.star {
    width: min(15%, var(--container-max, 6ch));
    aspect-ratio: 1;
    background-color: rgba(240, 248, 255, 0);
    border-style: none;

    * {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(85%) saturate(100%) invert(0%) sepia(13%) saturate(1276%) hue-rotate(350deg) brightness(106%) contrast(105%);
    }
}

.filled {
    .full {
        display: block;
    }
    .full:hover {
        filter: brightness(98%) saturate(100%) invert(0%) sepia(13%) saturate(1276%) hue-rotate(350deg) brightness(106%) contrast(105%);
    }
    .empty {
        display: none;
    }
}

.unfilled {
    .empty {
        filter: brightness(50%) saturate(100%) invert(0%) sepia(13%) saturate(1276%) hue-rotate(350deg) brightness(106%) contrast(105%);
        display: block;
    }
    .empty:hover {
        filter: brightness(65%) saturate(100%) invert(0%) sepia(13%) saturate(1276%) hue-rotate(350deg) brightness(106%) contrast(105%);
    }
    .full {
        display: none;
    }
}