@import url(./junk.css);

:root {
    --lime-cream: #edff71ff;
    --khaki-beige: #baa898ff;
    --mauve-shadow: #684756ff;
    --dark-slate-grey: #204e4aff;
    --granite: #3b5249ff;
}


body {
  font-family: sans-serif;
  font-size: 1.2rem;
}

.wrapper {
  width: min(100% - 3rem, var(--container-max, 60ch));
  margin-inline: auto;
}

.region {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--khaki-beige);
    width: 100%;

    flex-grow: 1;
    gap: 1rem;
    margin: 0rem;

    img {
        margin-top: 0;
        width: min(90% - 1rem, var(--container-max, 30ch));

    }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--khaki-beige);
  width: 100%;

  flex-grow: 1;
  gap: 1rem;
  margin: 0rem;
}


.card {
  display: grid;
  width: min(75% - 1rem, var(--container-max, 15ch));
  text-align: center;

  grid-template-areas: "title" "image" "description";
  grid-template-rows: 0.5fr 2fr 1fr;

  background-color: rgb(194, 188, 179);

  img {
    justify-self: center;
    align-self: center;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.cardList {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}