{% extends "userLayout.njk" %}

{% block content %}
<p>Log in to rate pieces!</p>
<a href="/users/login" class="important_button">LOG IN</a>

<p>Create an account if you don't already have one!</p>
<a href="/users/signin" class="important_button">SIGN IN</a>
{% endblock %}